{% extends 'shared/userpanel/_MainLayout.html' %}




{% block content %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">تغییر رمز عبور</h3>
                    </div>
                    <div class="box-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ ChangePasswordForm.old_password.label }}
                            {{ ChangePasswordForm.old_password }}
                            {{ ChangePasswordForm.password_config.error_messages }}
                            <br>
                            {{ ChangePasswordForm.new_password.label }}
                            {{ ChangePasswordForm.new_password }}
                            {{ ChangePasswordForm.password_config.error_messages }}
                            <br>
                            {{ ChangePasswordForm.password_config.label }}
                            {{ ChangePasswordForm.password_config }}
                            {{ ChangePasswordForm.password_config.error_messages }}

                            <br>
                            <button type="submit" class="btn btn-primary">ذخیره</button>
                            {% if ChangePasswordForm.errors %}
                                <br>
                                <br>
                                <div class="callout callout-warning">
                                    <p>{{ ChangePasswordForm.password_config.errors }}</p>
                                </div>
                            {% endif %}
                            {% if success == 1 %}
                                <br>
                                <br>
                                <div class="callout callout-warning">
                                    <p>رمز عبور با تکرار ان برابر نیست</p>
                                </div>

                            {% endif %}
                            {% if success == 2 %}
                                <br>
                                <br>
                                <div class="callout callout-danger">
                                    <h4>خطا</h4>
                                    <p>رمز عبور فعلی اشتباه وارد شده</p>
                                </div>
                            {% endif %}
                            {% if success == 3 %}
                                <br>
                                <br>
                                <div class="callout callout-warning">
                                    <p>رمز عبور با تکرار ان برابر نیست</p>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}