{% extends 'shared/home/_MainLayout.html' %}
{% load static %}
{% block body_contect %}
    <section class="breadcrumb-area"></section>


    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">

                {% if validlink %}

                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                    <div class="col-lg-6 col-md-10">
                    <div class="sign-form">
                        <div class="heading">
                            <h4 class="title">
                                تغییر رمز عبور
                            </h4>
                            <p class="subtitle">
                                رمزعبور جدید را وارد کنید
                            </p>
                        </div>
                        <form class="form-group mb-0" method="post" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="id_new_password1">رمزعبور جدید</label>
                                <input type="password" name="new_password1" autocomplete="new-password"
                                       class="form-control" required id="id_new_password1"
                                       placeholder="رمز عبور جدید"/>
                                <span>
                                                </span>
                            </div>


                            <div class="form-group">
                                <label class="small mb-1" for="id_new_password2">تکرار رمزعبور</label>
                                <input type="password" name="new_password2" autocomplete="new-password"
                                       required id="id_new_password2" class="form-control"
                                       placeholder="تکرار رمزعبور"/>
                            </div>

                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <button type="submit" class="bigbtn id=">ثبت</button>

                        </form>
                    </div>

                {% else %}
                    <div class="alert alert-warning">
                        لینک تغییر رمز عبور نامعتبر است ،احتمالا به این دلیل که قبلا استفاده شده، لطفا در خواست فراموشی
                        رمزعبور را دوباره ارسال کنید
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
