{% extends 'shared/home/_MainLayout.html' %}
{% load static %}


{% block body_contect %}

    <section class="breadcrumb-area"></section>

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title">
                        ثبت نام
                    </h4>
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                                صفحه اصلی
                            </a>
                        </li>
                        <li>
                            <span><i class="fas fa-chevron-left"></i> </span>
                        </li>
                        <li>
                            <a href="register.html">ثبت نام</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Signin Area Start -->
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="sign-form">
                        <div class="heading">
                            <h4 class="title">
                                ایجاد حساب کاربری
                            </h4>
                            <p class="subtitle">
                                ساخته شده با عشق توسعه دهنده
                            </p>
                        </div>
                        <form class="form-group mb-0" method="post" action="#">
                            {% csrf_token %}
                            {{ register_form }}
                            <div class="custom-control custom-checkbox  d-flex">
                                <input type="checkbox" class="custom-control-input" id="remember">
                                <label class="custom-control-label ml-2" for="remember"> <a href="#">شرایط و قوانین
                                    را</a>
                                    میپذیرم </label>
                            </div>
                            <button type="submit" name="register_form" class="bigbtn">ثبت نام</button>

                            <p class="reg-text text-center mb-0">آیا حسابی دارید؟ <a href="login.html">ورود</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signin Area End -->

{% endblock %}





