{% extends 'shared/home/_MainLayout.html' %}
{% load static %}



{% block body_contect %}

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title">
                        ورود
                    </h4>
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                                صفحه اصلی
                            </a>
                        </li>
                        <li>
                            <span><i class="fas fa-chevron-left"></i> </span>
                        </li>
                        <li>
                            <a href="login.html">ورود</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->


    <!-- Signin Area Start -->
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="sign-form">
                        <div class="heading">
                            <h4 class="title">
                                ورود
                            </h4>
                            <p class="subtitle">
                                برای ادامه دادن به حساب خود وارد شوید
                            </p>
                        </div>
                        <form class="form-group mb-0" method="post">
                            {% csrf_token %}
                            {{ login_form }}
                            <div class="custom-control custom-checkbox  d-flex">
                                <input type="checkbox" class="custom-control-input" id="remember">
                                <label class="custom-control-label ml-2" for="remember">مرا به خاطر بسپار</label>
                                <span class="ml-auto"><a href="forgot-pass.html">رمز عبور را فراموش کرده اید؟</a></span>
                            </div>
                            <button type="submit" name="login_form" class="bigbtn">ورود</button>
                            <p class="reg-text text-center mb-0">حساب کاربری ندارید؟ <a href="register.html">ثبت نام</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signin Area End -->

{% endblock %}




