{% load static %}
<!-- jquery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- popper -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- way poin js-->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<!-- aos js-->
<script src="{% static 'js/aos.js' %}"></script>
<!-- counterup js-->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!-- easing js-->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7eALQrRUekFNQX71IBNkxUXcz-ALS-MY&amp;sensor=false"></script>
<script src="{% static 'js/gmap.js' %}"></script>
<!-- main -->
<script src="{% static 'js/contact.js' %}"></script>
<!-- main -->
<script src="{% static 'js/main.js' %}"></script>

