{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <tditle>{% block title %}{% endblock %}</tditle>
    {% include 'shared/userpanel/_HeaderReferences.html' %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    {% include 'shared/userpanel/_MainHeader.html' %}
    <!-- right side column. contains the logo and sidebar -->
    {% include 'shared/userpanel/_MainSidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                عنوان صفحه
                <small>توضیحات</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
                <li class="active">صفحه</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            {% block content %}{% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer text-left">
        <strong>Copyleft &copy; 2014-2017 <a href="https://adminlte.io">Almsaeed Studio</a> & <a
                href="http://hosseinizadeh.ir/adminlte">Alireza Hosseinizadeh</a></strong>
    </footer>

    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{% include 'shared/userpanel/_FooterReferences.html' %}
</body>
</html>