{% extends 'shared/userpanel/_MainLayout.html' %}

{% block title %}
    پنل | تگ ها
{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">تگ ها</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <ul class="products-list product-list-in-box">
                {% for Card in Cards %}
                    <li class="item">
                        <div class="product-img">
                            <img src="{{ Card.ProfileImg.url }}" alt="Product Image">
                        </div>
                        <div class="product-info">
                            <a href="{% url 'userpanel_mytag:update' Card.id %}"
                               class="product-title">{{ Card.FirstName }} {{ Card.LastName }}</a>
                            <span class="product-description">
                          {{ Card.TypeOfCard.Name }}
                        </span>
                        </div>
                    </li>
                {% endfor %}


                <!-- /.item -->
            </ul>
        </div>
    </div>
    <!-- /.box-body -->
{% endblock %}
