{% extends 'userpanel_mytag/base.html' %}
{% block content %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">ویرایش تگ</h3>
                    </div>
                    <table class="table">

                        {% if object.FirstName %}
                            <tr>
                                <th>نام</th>
                                <td>{{ object.FirstName }}</td>
                            </tr>
                        {% endif %}
                        {% if object.LastName %}
                            <tr>
                                <th>نام خانوادگی</th>
                                <td>{{ object.LastName }}</td>
                            </tr>
                        {% endif %}
                        {% if object.Company %}
                            <tr>
                                <th>شرکت</th>
                                <td>{{ object.Company }}</td>
                            </tr>
                            <tr>
                                <th>شغل</th>
                                <td>{{ object.WorkName }}</td>
                            </tr>

                        {% endif %}
                        {% if object.has_ContactNumbers %}
                            {% for title in object.has_ContactNumbers.all %}
                                <tr>
                                    <th>{{ title.Name }}</th>
                                    <td>{{ title.Number }}</td>
                                    <td>{{ title.Type }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if object.socialnetwork_set %}
                            {% for title in object.socialnetwork_set.all %}
                                <tr>
                                    <th>{{ title.Name }}</th>
                                    <td>{{ title.Url }}</td>
                                    <td>{{ title.Type }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{% url 'userpanel_mytag:update' pk=object.id %}">ویرایش</a>
                    {#            <a class="btn btn-outline-danger" href="{% url 'userpanel_mytag:delete' pk=object.id %}">Delete</a>#}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}